:host {
  text-align: -webkit-center;
}

.dropdown-toggle,
.dropdown-menu {
  width: var(--roller-width);
  border: 1px solid var(--gray-color);

  .dropdown-item:hover {
    background-color: #e1e1e1;
    color: initial;
  }
}

.scroll-container {
  min-height: var(--roller-height);
  height: 71vh;
  max-height: calc(var(--card-height) * 2);
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid var(--gray-color);
  position: relative;
  padding: 8px 0;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  width: var(--roller-width);
}

.card-deck {
  display: block;
  text-align: -webkit-center;
  position: relative;

  &.one-el {
    // margin-top: 50%;
    // transform: translateY(-50%);
    transform: translateY(15%);
  }

  .card {
    width: calc(var(--roller-width) - 20px);
    height: var(--card-height);
    margin-bottom: 8px;
    border: 1px solid var(--gray-color);

    & .card-img-top {
      border-bottom: 1px solid var(--gray-color);
      height: var(--card-img-height);
    }
  }
}

.indicator {
  position: fixed;
  z-index: 1;
  opacity: 0.5;
  background: var(--gray-color);
  text-align: center;
  top: calc(var(--roller-height) / 2);
  border: 3px solid lightgrey;
  width: var(--roller-width);
}

.indicator-line {
  position: sticky;
  z-index: 1;
  opacity: 0.25;
  text-align: center;
  top: 50%;
  border-bottom: 1px solid firebrick;
  width: var(--roller-width);
}

::-webkit-scrollbar {
  width: 0;
}

.btn-group-container {
  // position: fixed;
  // bottom: 8px;
  // left: 50%;
  // transform: translate(-50%, 0);

  text-align: center;

  .btn-group {
    width: var(--roller-width);
    margin: auto;

    .btn {
      // aspect-ratio: 1;
      height: 48px;
      font-size: 20px;
    }
  }
}
