<div class="modal-content">
  <div class="modal-header" [class.modal-center]="!hasCloseBtn">
    <h5 class="modal-title">{{ title }}</h5>
    <button
      *ngIf="hasCloseBtn"
      type="button"
      class="btn-close"
      (click)="close(0)"
    ></button>
  </div>
  <ng-container
    [ngTemplateOutlet]="approveTemplate ? text2remove : customDescription"
  ></ng-container>

  <ng-container
    *ngIf="approveTemplate"
    [ngTemplateOutlet]="approve"
  ></ng-container>
</div>

<ng-template #text2remove>
  <div class="modal-body modal-center">
    <i class="fa-solid fa-skull-crossbones"></i>
    {{ description }}
    <i class="fa-solid fa-skull-crossbones"></i>
  </div>
</ng-template>

<ng-template #customDescription>
  <div class="modal-body" [innerHTML]="description"></div>
</ng-template>

<ng-template #approve>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close(1)">
      <i class="fa-solid fa-check"></i>
    </button>
    <button type="button" class="btn btn-secondary" (click)="close(0)">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
</ng-template>
