<section *ngIf="!selectedJson" class="empty-store">
  <p>[NO DATA]</p>
  <button type="button" class="btn btn-outline-secondary" routerLink="/">
    <i class="fa-solid fa-backward"></i>
  </button>
</section>

<section *ngIf="selectedJson" >

  <div class='head p-3'>
    <button type="button" class="btn btn-outline-secondary back" routerLink="/">
      <i class="fa-solid fa-backward"></i>
    </button>
    Видимость карточек
    <!-- <button type="button" class="btn btn-outline-secondary manual">
      <i class="fa-sharp fa-solid fa-circle-question"></i>
    </button> -->
  </div>

  <div class="switch-container">
    <div class="form-check form-switch m-3" *ngFor="let el of jsonStore">
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [checked]="!checkboxStoreArray.includes(el.id)" (click)="toggleKey(el.id)">
      <label class="form-check-label" for="flexSwitchCheckDefault">
        {{el.name}}
      </label>
    </div>
  </div>
</section>

